body {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  overflow: hidden;
}

h1.price {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 3;
}

canvas {
  width: 100vw;
  height: 100vh;
  z-index: 2;
}